body{
    
    margin: auto;
    
}

h1{
    margin: 20px;
    text-align: center;

}
.button{
    display: flex;
    justify-content: center;
}

button{
    text-align: center;
    border: 1px solid rgba(53, 102, 8, 0.459);
}

#message{
  width: 50%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  text-align: center;
  padding: 5px;
}
